* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    flex-direction: column;
}

.card {
    background-color: white;
    width: 330px;
    height: 520px;
    border-radius: 20px;

    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.75);
}

.code {
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 25px;
}


p {
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 10px;

}

.top-text {
    font-size: 1.3rem;
    font-weight: 700;
}

.bottom-text {
    font-size: 1rem;
    color: hsl(220, 15%, 55%)
}